
    body {
      overflow: hidden;
    }

    /* Icon diatas login */
    .img_1 {
     background-image: url("/resources/views/Gambar/logopertamina.png");
      position: relative;
      top: 70px;
      left: 700px;
      border-radius: 56px;
      width: 505px;
      max-width: 505px;
      height: 237px;
      object-fit: cover;
      top: 0px;
      margin-top: -20px;
      margin-right: 10px;
    }

    /* Foto yang disamping kiri */
    .img_icon {
      position: absolute;
      display: flex;
      align-items: center;
      max-width: 55%;
      width: 80%;
      height: 590px;
      top: 0px;

    }

    h1 {
      position: relative;
      text-align: right;
      margin-top: -35px;
      margin-right: 420px;
    }

    h5 {
      position: relative;
      text-align: right;
      margin-right: 153px;
    }

    .form-control {
      width: 400px;
      margin-top: 20px;
      margin-right: 50%;
      border-radius: 15px;
    }

    .form-floating {
      left: 750px;
    }

    .btn_login {
      position: absolute;
      margin-top: 30px;
      margin-left: 749px;
      max-width: 90%;
      width: 32%;
      height: 40px;
    }

    .login-tab .remember-forgot {
      margin-top: 9px;
      display: flex;
      justify-content: space-between;
      color: rgb(184, 50, 50);
    }

    .remember-forgot input {
      margin-top: 15px;
      margin-right: 740px;
    }